{% extends 'base.html' %}

{% block title %}登入{% endblock %}
{% block app_name %}登入{% endblock %}

{% load static %}
{% block stylesheet %}
<link rel='stylesheet' href='{% static "login/css/login.css" %}'>
{% endblock %}

{% block content %}
<div class='stufinite-app-container'>
  <div class='stufinite-app-content'>
      <section class="stufinite-form-container">
        <h1>登入小幫手</h1>
        <form action="{% url 'login' %}" method="post">
          {% csrf_token %}
          {% if form.errors %}
          <span class="type-error">輸入格式錯誤</span>
          {% endif %}

          {{ form.as_p }}

          <button type="submit" name="button">登入</button>
        </form>
        <a href="/accounts/register">註冊</a>
        |
        <a href="/accounts/forgot">忘記密碼了？</a>
      </section>
</div>
{% endblock %}
