{% extends 'base.html' %}

{% block title %}登入{% endblock %}
{% block app_name %}登入{% endblock %}

{% load static %}
{% block stylesheet %}
<link rel='stylesheet' href='{% static "login/css/login.css" %}'>
{% endblock %}

{% block content %}
<div class='stufinite-app-container'>
  <div class='stufinite-app-content'>
      <section class="stufinite-form-container">
        <h1>{{ title }}</h1>
        <div>{{ context }}</div>
        <div><a href="http://www.campass.com.tw">點此跳轉到 Campass 選課小幫手</a></div>
      </section>
</div>
{% endblock %}
