.stufinite-header {
  position: relative;
  z-index: 50;
  padding: 16px 32px 16px 32px;
  width: 100%;
  background-color: #4180B2;
}
.stufinite-header-title {
  display: inline-block;
  color: #F7F7F7;
  vertical-align: middle;
  font-size: 32px;
}
.stufinite-header-search {
  display: inline-block;
  margin-left: 64px;
  width: 60%;
  vertical-align: middle;
}
.stufinite-header-search input {
  /*display: table-cell;*/
  margin: 0;
  padding-left: 8px;
  width: 80%;
  height: 32px;
  border: none;
  box-shadow: 0px 0px 1px black;
  color: #403F3F;
  vertical-align: middle;
}
.stufinite-header-search button {
  /*display: table-cell;*/
  margin: 0;
  padding: 0 0;
  width: 60px;
  height: 34px;
  border: 1px solid #403F3F;
  border-radius: 0px 6px 6px 0px;
  box-shadow: 0px 0px 2px black;
  color: #403F3F;
  background-color: #DEDEDE;
  vertical-align: middle;
}
