{% load static %}

<!DOCTYPE HTML>
<html>

<head>
    <meta charset='utf-8' />
    <title>{% block title %}{% endblock %}小幫手</title>
    <link href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css' rel='stylesheet' integrity='sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1' crossorigin='anonymous'>
    <link rel='stylesheet' href='{% static "stufinite/css/stufinite.css" %}'>
    {% block stylesheet %}
    {% endblock %}
</head>

<body>
    <header class='stufinite-header'>
        <div class='stufinite-header-title'>
            <span><a href="http://www.campass.com.tw">Campass 選課小幫手2.0</a></span>
        </div>

        <div class='stufinite-header-search'>
            <div></div>
        </div>

        {% if user.is_authenticated %}
        <div class='stufinite-header-item'>
            <span class='stufinite-header-user-info'><a href="https://login.campass.com.tw/accounts/profile">{{ user.username }} 使用者設定</a></span>
            <a href="http://login.campass.com.tw/accounts/logout"><button class='stufinite-btn'>Logout</button></a>
        </div>
        {% endif %}

    </header>

    {% block content %}
    {% endblock %}

    <footer>
        <span>Copyright © 2016 All rights reserved.</span>
        <a target="_blank" href="https://www.facebook.com/CoursePickingHelper/"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
    </footer>

    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src='{% static "stufinite/js/stufinite.js" %}'></script>
    {% block javascript %}
    {% endblock %}
</body>

</html>
